//Dutch Strings
1 ^Omringende Perceels^
2 ^Stadsschaduwen^
3 ^FSO Verlichting^
4 ^Schaduw Detail^
5 ^Forceren Z-Order^
6 ^Vlotte Zoom^
7 ^Object Schaduwen^

//NL: Omringende Lot Opties
8 ^Geen omliggende perceels. Grijze leegte wordt buiten de perceel getrokken.^
9 ^Lege omliggende perceels. (alleen grond en bomen) ^
10 ^Volledige omliggende perceels. (architectuur, buiten objecten) ^

11 ^3D schaduwen^
12 ^Stad Skybox^

13 ^Aanpassen DPI-schaal^ 
14 ^Schakelen naar 3D-modus ^ 
15 ^Schakelen naar 2D-modus ^ 

16 ^Gevorderde Verlichting: ^
17 ^Off/FSO/+Walls/+Objs^
18 ^Directionele verlichting^

19 ^Toggle-instellingen: ^
20 ^Weer^
21 ^Grafische opties^
22 ^Detail:^

23 ^Textuurcompressie^
24 ^Enables DXT5 Textuurcompressie voor muren, vloeren en objecten. Sprites nemen 1/4 van de VRAM in beslag ten koste van de visuele kwaliteit. Handig voor het vermijden van crashes op Intel HD Graphics of oude GPU's.^
25 ^Deze optie zal niet volledig van kracht worden totdat u het spel opnieuw opstart! ^ 

26 ^Complex Shaders^
27 ^Biedt verschillende complexe effecten voor high-end GPU's.
- Parallax+Normal mapping voor daken en gras
- Alle toekomstige compex shaders toegevoegd aan het spel^

//Engles

/*1 ^Surrounding Lots^
2 ^City Shadows^
3 ^FSO Lighting^
4 ^Shadow Detail^
5 ^Force Z-Order^
6 ^Smooth Zoom^	
7 ^Object Shadows^

8 ^No surrounding lots. Gray void is drawn outside the lot.^
9 ^Empty surrounding lots. (just ground and trees)^
10 ^Full surrounding lots. (architecture, outdoor objects)^

11 ^3D Shadows^
12 ^City Skybox^

13 ^Adjust DPI Scaling^
14 ^Switch to 3D Mode^
15 ^Switch to 2D Mode^

16 ^Advanced Lighting:^
17 ^Off/FSO/+Walls/+Objs^
18 ^Directional Lighting^

19 ^Toggle Settings:^
20 ^Weather^
21 ^Graphics Options^
22 ^Detail:^

23 ^Texture Compression^
24 ^Enables DXT5 Texture Compression for walls, floors and objects. Sprites take up 1/4 of the VRAM at the cost of visual quality. Useful for avoiding crashes on Intel HD Graphics or old GPUs.^
25 ^This option will not take full effect until you restart the game!^

26 ^Complex Shaders^
27 ^Enables several complex effects for high end GPUs.
- Parallax+Normal mapping for Roofs and Grass
- Any future compex shaders added to the game^
*/
