1 ^Typen^
2 ^Schilder^
3 ^Bord^
4 ^Jam^
5 ^Drank^
6 ^Gnome^
7 ^Pinata^
8 ^Telefoon^

9 ^%s Tijden^
10 ^Het bonusobject van vandaag is %s^
11 ^Geen bonusobject vandaag.^
12 ^Laatste Nieuws^
13 ^Recent Nieuws^

14 ^Voorpagina^
15 ^Geldobject uitbetalingen^
16 ^Uitbetalingsgeschiedenis^

17 ^Volgende Pagina^
18 ^Vorige Pagina^

19 ^Selecteer hieronder een nieuwsbericht om er meer over te lezen.^
20 ^Laden....^

/*1 ^Writer^
2 ^Easel^
3 ^Board^
4 ^Jam^
5 ^Potion^
6 ^Gnome^
7 ^Pinata^
8 ^Phone^

9 ^%s Times^
10 ^Today's Bonus Object is %s^
11 ^No Bonus Object today.^
12 ^Latest News^
13 ^Recent News^

14 ^Front Page^
15 ^Money Object Payouts^
16 ^Payout History^

17 ^Next Page^
18 ^Previous Page^

19 ^Select a news story below to read more about it.^
20 ^Loading...^*/