//In Dutch
1 ^Sorteer op: ^
2 ^Vrienden^
3 ^Vijanden^
4 ^Bijna-vrienden^
5 ^Bijna-vijanden^
6 ^Kamergenoten^

7 ^Vrienden %s - Vrienden %s^

8 ^Inkomend^
9 ^Uitgaande^

10 ^Vriendschap Web^
11 ^Vriendschap Web (%s)^

12 ^Overschakelen naar inkomend^
13 ^Overschakelen naar uitgaande^

14 ^Zoek:^

/*English Version:
1 ^Sort by:^
2 ^Friends^
3 ^Enemies^
4 ^Almost-Friends^
5 ^Almost-Enemies^
6 ^Roommates^

7 ^Friends %s - Enemies %s^

8 ^Incoming^
9 ^Outgoing^

10 ^Friendship Web^
11 ^Friendship Web (%s)^

12 ^Switch to Incoming^
13 ^Switch to Outgoing^

14 ^Search:^*/