//Community Lots

1 ^Geschonken door: %s^
2 ^WAARSCHUWING!!!^
3 ^Je hebt je inventaris ingevoerd op een openbare kavel. Als u een object uit uw inventaris schenkt, kan u het NIET terug nemen of verkopen! Zorg ervoor dat je echt weet wat je doet. Als je de burgemeester bent, moet je belangrijke objecten neerzetten met de "Normale" modus, zodat je ze kunt terugvorderen wanneer je maar wilt.^
4 ^DONEREN: OBJECTEN 66% KORTING, MAAR KUNNEN NIET TERUG NAAR DE INVENTARIS OF VERKOCHT WORDEN ALS ZE EENMAAL GEPLAATST ZIJN!^
5 ^Donateurs: (toevoegen met bovenstaande zoekopdracht)^
6 ^Donateurs beheren^
7 ^Weet u zeker dat u als donateur %s wilt toevoegen? Zij zullen in staat zijn om objecten op deze kavel te plaatsen (niet te verwijderen) en kunnen gebruik maken van kamergenoot interacties op alle objecten. Als je ze bouwrechten geeft, zullen ze in staat zijn om objecten uit de bouwmodus te verwijderen.^
8 ^ (Burgemeester)^

10 ^Begunstigde - ^
11 ^Donateur - ^

12 ^Huisgenoten beheren^
13 ^Kamergenoten: (toevoegen met bovenstaande zoekopdracht)^

14 ^Je hebt deze sim met succes uitgenodigd om je huisgenoot te worden. Je moet echter op hun reactie wachten voordat je ze op je kamergenotenlijst ziet staan!^
15 ^Deze sim is al een kamergenoot in een ander pand. U kunt alleen sims uitnodigen die niet op een eigendom wonen!^
16 ^Een uitnodiging van een kamergenoot is al verstuurd naar deze sim, en is in afwachting van een antwoord. U moet wachten tot ze reageren voordat u verdere acties onderneemt.^

/*//Community Lots

1 ^Donated by: %s^
2 ^WARNING!!!^
3 ^You've entered your inventory on a Community Lot. If you donate an object from your inventory, YOU WILL NOT BE ABLE TO TAKE IT BACK OR SELL IT! Make sure you really know what you're doing. If you are the mayor, you should put important objects down with "Normal" mode so you can reclaim them whenever.^
4 ^DONATING: OBJECTS 66% OFF, BUT CAN'T RETURN TO INVENTORY OR BE SOLD ONCE PLACED!^
5 ^Donators: (add using search above)^
6 ^Manage Donators^
7 ^Are you sure you want to add %s as a Donator? They will be able to place objects on this lot (not delete) and can use roommate interactions on all objects. If you give them build permissions, they will be able to delete build mode objects.^
8 ^ (Mayor)^

10 ^Benefactor - ^
11 ^Donator - ^

12 ^Manage Roommates^
13 ^Roommates: (add using search above)^

14 ^You have successfully invited this sim to be your roommate. You'll need to wait for their response before you see them on your Roommates list, though!^
15 ^This sim is already a roommate in another property. You can only invite sims who do not live on any property!^
16 ^A roommate invitation has already been sent to this sim, and is pending a response. You'll need to wait for them to respond before taking any further actions.^*/