1 ^Indienen van een nominatie^
2 ^Stemmen^
3 ^Meedoen aan de verkiezing voor burgemeester^
4 ^Kies voor Vrije Stem Buurt^


/*// buttons that appear in emails with special types. see MessageSpecialType in MessageItem.cs
1 ^Submit Nomination^
2 ^Submit Vote^
3 ^Run for Mayor^
4 ^Choose Free Vote Neighborhood^*/