1 ^Object opwaarderingen^
2 ^Dit aangekochte object kan worden opgewaardeerd!^
3 ^U kunt dit object kopen met een opwaardering!^
4 ^Gefeliciteerd! Dit object is volledig opgewaardeerd.^
5 ^Aankoop op niveau "%s"^
6 ^Opwaarderingsniveau^
7 ^Opwaarderingsprijs (vanaf huidig niveau)^
8 ^Opwaarderen naar %s^
9 ^Aankoop op niveau "%s"^
10 ^Opwaarderen naar %s^
11 ^Het opwaarderen van de %s naar %s kost u %s. Deze actie kan niet worden teruggedraaid. Weet u zeker dat u door wilt gaan?
Opmerking: Bij de aankoop van een opwaardering nadat het object is aangeschaft, is de prijs inbegrepen die verloren is gegaan door afschrijving, maar het object wordt in een nieuw aangekochte staat hersteld.^
12 ^Dit object heeft geen opwaarderingen beschikbaar.^
13 ^Deze opwaardering is aangeschaft.^

/*1 ^Object Upgrades^
2 ^This purchased object can be upgraded!^
3 ^You can purchase this object with an upgrade!^
4 ^Congratulations! This object is fully upgraded.^
5 ^Purchasing at Level "%s"^
6 ^Upgrade Level^
7 ^Upgrade Price (from current level)^
8 ^Upgrade to %s^
9 ^Purchase at Level "%s"^
10 ^Upgrading to %s^
11 ^Upgrading the %s to %s will cost you %s. This action cannot be reversed. Are you sure you want to continue?
Note: Purchasing an upgrade after the object has been purchased includes the price lost to deprecation, but the object will be restored to a newly purchased state.^
12 ^This object does not have any upgrades available.^
13 ^This upgrade has been purchased.^*/