1 ^Totaal vaardigheidsniveaus: %d.%02d^
2 ^Uitbetaling^
3 ^Huidige^
4 ^Minimaal^
5 ^Dat was elektrisch! Goed werk!^
6 ^Ben je klaar om te rocken?!^

/*1 ^Total Skill Levels: %d.%02d^
2 ^Payout^
3 ^Current^
4 ^Minimum^
5 ^That was electric! Great job!^
6 ^Are you ready to rock?!^*/