^Niemand woont hier!^
^Je moet een familie kiezen en ze eerst naar binnen verplaatsen.^

^Gemeenschappelijke ruimte^
^Er is hier niets te selecteren.^

/*^No one lives here! ^
^You have to choose a family and move them in first.^

^Community space^
^There is nothing to select here.^*/