1  ^Lichtkleurinstellingen - Binnenkort beschikbaar!!^
2  ^Lichtecyclusinstellingen - Binnenkort beschikbaar!^
3  ^Omgevingsgeluidseffecten^

/*
1  ^Light Color Settings - Coming Soon!^
2  ^Light Cycle Settings - Coming Soon!^
3  ^Ambient Sound Effects^
*/