1 ^Automatisch centreren^
2 ^Vrije wil^
3 ^Randschuiven^
4 ^Sim in de achtergrond^
5 ^Snelle tips^
6 ^Automomentopname^
7 ^Live PIP^
8 ^Export HTML^

/*
1 ^Auto-Centering^
2 ^Free Will^
3 ^Edge Scrolling^
4 ^Sim In Background^
5 ^Quick Tips^
6 ^Auto Snapshot^
7 ^Live PIP^
8 ^Export HTML^
*/