1 ^F/X Volume^
2 ^Musiek Volume^
3 ^Vox Volume^
4 ^SfeerVolume^
5 ^F/X Volume^
6 ^Musiek Volume^
7 ^Vox Volume^
8 ^SfeerVolume^

/*
1 ^F/X Volume^
2 ^Music Volume^
3 ^Vox Volume^
4 ^Ambience Volume^
5 ^F/X Volume^
6 ^Music Volume^
7 ^Vox Volume^
8 ^Ambience Volume^
*/