// kTSOAssetStringLoginToTSO
1 ^Inloggen bij De Sims Online^
2 ^Aanmelden^
3 ^Afsluiten^
4 ^Gebruikersnaam:^
5 ^Wachtwoord:

/*1 ^Login to The Sims Online^
2 ^Login^
3 ^Exit^
4 ^Login Name:^
5 ^Login Password:^
*/