1 ^Vaardigheidsgameplay ingeschakeld^
2 ^Vaardigheden van bezoekers uitgeschakeld^
3 ^Vaardigheidsgameplay Uitgeschakeld^

4 ^Je kunt de vaardigheidsgameplay alleen veranderen als het kavel offline is!^

5 ^Vaardigheid gameplay-modus^
6 ^Je kunt de manier waarop er op je kavel met vaardigheden wordt omgegaan veranderen. Als de vaardigheidsgameplay is uitgeschakeld, zullen de betrokken sims geen geld verdienen aan geldobjecten, of vaardigheden verwerven. Hun vaardigheden zullen echter ook niet achteruitgaan, waardoor ze meer ontspannen kunnen spelen.^
7 ^Je lottype heeft standaard de vaardigheidsgameplay voor bezoekers uitgeschakeld.^

8 ^Vaardigheid/geld gameplay inschakelen^
9 ^Vaardigheidsgameplay voor bezoekers uitschakelen^
10 ^Vaardigheidsgameplay voor iedereen uitschakelen^

/*1 ^Skill Gameplay Enabled^
2 ^Visitor Skills Disabled^
3 ^Skill Gameplay Disabled^

4 ^You can only change skill gameplay when the lot is offline!^

5 ^Skill Gameplay Mode^
6 ^You can change how skills are handled on your lot. If skill gameplay is disabled, affected sims will not earn any money from money objects, or gain any skills. However, their skills will not decay either, allowing for more casual gameplay.^
7 ^Your lot type has skill gameplay disabled for visitors by default.^

8 ^Enable Skill/Money Gameplay^
9 ^Disable Skill Gameplay for Visitors^
10 ^Disable Skill Gameplay for All^*/