//In het Nederlands

1 ^FreeSO bijwerken^
2 ^Downloaden %s, (%s/%s, %s/%s file(s))^

//Update vereist Texts
3 ^Update vereist^

4 ^De server waarmee u verbinding maakt vereist dat versie %s van de %s branch geïnstalleerd is (u heeft momenteel versie %s van de %s branch). De server heeft een locatie beschikbaar gesteld waar u deze versie kunt downloaden. Wilt u deze update downloaden en toepassen?

Vergeet niet dat u best alleen updates en inhoudspakketten installeert van servers die u vertrouwt! Als u deze update niet wilt installeren, keert u terug naar het inlogscherm.^

5 ^Vereiste inhoudspakketten^
6 ^De server waarmee u verbinding maakt vereist deze inhoudspakketten: %s

Deze kunnen worden gedownload van de server. Wilt u verdergaan?
Vergeet niet dat u best alleen updates en inhoudspakketten installeert van servers die u vertrouwt!  Als u deze inhoudspakketten niet wilt installeren, keert u terug naar het inlogscherm.^

7 ^Herstart nodig^
8 ^Je sluit je aan bij een server met een andere set content packs dan de laatste server waarmee je verbonden was. Het spel moet opnieuw worden gestart om de gegevens van de laatste server te wissen.^

//Update bijwerken
9 ^Bestanden downloaden^
10 ^Bijwerken^
11 ^Versie Waarschuwing^
12 ^Je hebt ervoor gekozen om versieverschillen te negeren. Merk op dat dit geen invloed heeft op de gameplay aan de serverzijde, maar kan leiden tot meer desyncs, crashes en onverwacht gedrag aan de client zijde. Dit moet je alleen doen voor ontwikkelingsdoeleinden!^
13 ^Het spel zal nu heropstarten. Klik op OK om de update te beginnen.^

//TSO Versie Fout
14 ^Onjuiste TSO-versie^
15 ^FreeSO vereist bestanden van The Sims Online om te werken. FreeSO heeft deze bestanden wel gedetecteerd, maar met versie '%s', wanneer FreeSO versie '1.1097.1.0' verwacht. 

%s

(je kunt dit negeren door op de cheat combo van TS1 te drukken, maar het is ENKEL DEV omdat je spel waarschijnlijk gewoon zal crashen.) ^^

//Patch is beschikbaar
16 ^Een patch is beschikbaar om uw TSO-versie om te zetten naar de juiste versie. Deze zal worden toegepast als u op OK klikt. (voer deze bewerking slechts eenmaal uit)^
17 ^Je versie kon niet worden geïdentificeerd, dus de FreeSO-client weet niet wat hij ermee moet doen. Ga naar http://freeso.org voor de juiste manier om TSO-bestanden te downloaden. (meestal via een launcher)^
18 ^Patchen van TSO-bestanden..^

//Fatale fout
19 ^Fatale fout^
20 ^Een fatale fout is opgetreden tijdens het patchen van het spel:

%s

Als De Sims Online is geïnstalleerd in Program Files, zorg er dan voor dat FreeSO als admin draait (dit is de standaardinstelling bij gebruik van de launcher). Als u een antivirusprogramma hebt geïnstalleerd, kan het FreeSO ook verhinderen om bestanden in programmabestanden te wijzigen - probeer een uitzondering voor FreeSO.exe en update.exe toe te voegen, of schakel deze helemaal uit bij het bijwerken van FreeSO (laatste redmiddel!).^

//Update vereist
21 ^Update vereist^
22 ^De server waarmee u verbinding maakt, vereist de installatie van versie %s. Gezien uw huidige versie (%s) is het volgende updatepad gevonden:

%s

Wilt u deze update downloaden en toepassen?
Vergeet niet dat u best alleen updates en inhoudspakketten installeert van servers die u vertrouwt! Als u deze update niet wilt installeren, keert u terug naar het inlogscherm.^

//Update types
23 ^(delta) ^
23 ^(volledig) ^
25 ^(volledig - ontbrekende delta-informatie) ^
26 ^(huidige) ^

27 ^Verkrijgen van update informatie....^
28 ^Het bestand %s kon niet worden gedownload of was leeg/verstoord. U keert nu terug naar het inlogscherm.^
29 ^ Manifest^

//Update mislukt
30 ^Updater is mislukt!^
31 ^Het updateprogramma kon niet worden geopend. Als u antivirussoftware hebt, probeer dan realtime bescherming uit te schakelen of een uitzondering toe te voegen voor FreeSO.exe en update.exe. Als u nog steeds problemen ondervindt, opent u update.exe handmatig vanuit de FreeSO-map. (als beheerder als u in de programmabestanden hebt geïnstalleerd)

Foutmelding:
%s^^


//Het Engles Versie
/* 1 ^Updating FreeSO^
2 ^Downloading %s, (%s/%s, %s/%s file(s)) ^

3 ^Update Required^
4 ^The server you are connecting to requires version %s of the %s branch to be installed (you currently have version %s of the %s branch). The server has provided a location from which you can download this version. Would you like to download and apply this update?

Remember that you should only install updates and content packs from servers you trust! If you do not want to install this update, you will be returned to the login screen.^

5 ^Content Packs Required^
6 ^The server you are connecting to requires these content packs: %s

These can be downloaded from the server. Do you wish to continue?
Remember that you should only install updates and content packs from servers you trust! If you do not want to install these content packs, you will be returned to the login screen.^

7 ^Restart Required^
8 ^You are joining a server with a different set of content packs to the last server you were connected to. The game must be restarted to clear data from the last server.^

9 ^Downloading Files...^
10 ^Update^
11 ^Version Warning^
12 ^You have chosen to ignore version differences. Note that this will not affect gameplay on the server side, but could cause increased desyncs, clientside crashes and unexpected behaviour. You should only do this for development purposes!^
13 ^The game will now restart. Click OK to begin the update.^


14 ^Incorrect TSO Version^
15 ^FreeSO requires files from The Sims Online to run. FreeSO did detect these files, but with version '%s', when FreeSO expects version '1.1097.1.0'. 

%s

(you can ignore this by pressing the cheat combo from TS1, but it is DEV ONLY as your game will likely just crash.)^

16 ^A patch is available to convert your TSO version into the correct one. It will be applied if you click OK. (only perform this operation once)^
17 ^Your version could not be identified, so the FreeSO client does not know what to do with it. Please visit http://freeso.org for the correct way to download TSO files. (usually via a launcher)^
18 ^Patching TSO Files...^

19 ^Fatal Error^
20 ^A fatal error has occurred while patching the game:

%s

If The Sims Online is installed in Program Files, make sure FreeSO is running as admin (this is the default when using the launcher). If you have an antivirus installed, it may also be preventing FreeSO from modifying files in Program Files - try adding an exception for FreeSO.exe and update.exe, or disabling it altogether when updating FreeSO (last resort!).^

21 ^Update Required^
22 ^The server you are connecting to requires version %s to be installed. Given your current version (%s) the following update path has been found:

%s

Would you like to download and apply this update?
Remember that you should only install updates and content packs from servers you trust! If you do not want to install this update, you will be returned to the login screen.^

23 ^(delta) ^
24 ^(full) ^
25 ^(full - missing delta info) ^
26 ^(current) ^

27 ^Obtaining Update Info...^
28 ^The file %s could not be downloaded or was empty/corrupted. You will now return to the login screen.^
29 ^ Manifest^

30 ^Updater failed!^
31 ^The updater could not be opened. If you have anti-virus software, try disabling real-time protection or adding an exception for FreeSO.exe and update.exe. If you still experience problems, open up update.exe from the FreeSO folder manually. (as administrator if you have installed in Program Files)

Error Message:
%s^*/