//In Dutch
1 ^Terreininstrument^
2 ^Afvlakkingsinstrument^
3 ^Grasinstrument^

101 ^Gebruik dit instrument om interessante landschappen te creëren, die indruk zullen maken op de bezoekers en de gemeenteraad gek zullen maken. Klik op de hoek van een tegel en sleep om de hoogte te veranderen. Dit kan extra tegels rond het oorspronkelijke doel verhogen om te voorkomen dat het terrein te steil wordt.

Hold Shift voor een fijnere controle over de hoogte van het terrein. Houd Control om een vloeiend patroon te gebruiken voor het veranderen van het terreinniveau. Gewijzigde grond zal terugkeren naar dood gras.^
102 ^Gebruik deze tool om vlakke gebieden te creëren die geschikt zijn voor het plaatsen van gebouwen en objecten. Klik op de hoek van een tegel met je doelhoogte en sleep dan over het gebied dat je wilt afvlakken tot die hoogte.

Houd Control om een vloeiend patroon te gebruiken voor het veranderen van het terreinniveau. Gewijzigde grond zal terugkeren naar dood gras.^
103 ^Gebruik deze tool om overal op uw perceel gras te plaatsen of te doden. Handig voor het maken van paden, of het revitaliseren van gras na terreinaanpassing. Klik op de hoek van een tegel en sleep om het gras te schilderen.

Houd Shift ingedrukt voor een fijnere controle over het grasniveau. Houd Control ingedrukt om gras te verwijderen.^

/*1 ^Terrain Tool^
2 ^Flatten Tool^
3 ^Grass Tool^

101 ^Use this tool to create interesting landscapes, which will impress visitors and make the local council mad. Click on the corner of a tile and drag to change its height. This may raise additional tiles around the initial target to keep terrain from becoming too steep.

Hold Shift for finer grained control over terrain height. Hold Control to use a smooth pattern for changing the terrain level. Modified ground will revert to dead grass.^
102 ^Use this tool to create flat areas suitable for placing buildings and objects. Click on the corner of a tile with your target height, then drag over the area you wish to flatten to that height.

Hold Control to use a smooth pattern for changing the terrain level. Modified ground will revert to dead grass.^
103 ^Use this tool to place or kill grass anywhere on your lot. Useful for creating paths, or reviving grass after terrain modification. Click on the corner of a tile and drag to start painting the grass.
Hold Shift for finer grained control over grass level. Hold Control to remove grass instead.^*/