//In Dutch
1 ^Sorteer op: ^
2 ^Vrienden^
3 ^Vijanden^
4 ^Bijna-vrienden^
5 ^Bijna-vijanden^
6 ^Kamergenoten^

7 ^Vrienden %s - Vrienden %s^

8 ^Inkomend^
9 ^Uitgaande^

10 ^Vriendschap Web^
11 ^Vriendschap Web (%s)^

12 ^Overschakelen naar inkomend^
13 ^Overschakelen naar uitgaande^

14 ^Zoek:^