/* Original in English
* 1 ^FreeSO^
* 2 ^Feature Disabled^
* 3 ^This feature has not been implemented yet!^
* 4 ^Reconnecting to City Server... (%s/10)^
* 5 ^Reconnecting to Lot Server... (%s/10)^
* 6 ^3D Meshes Generating... (%s in queue)^
*/

//In het Nederlands
1 ^VrijeSO^
2 ^Feature uitgeschakeld^
3 ^Deze feature is nog niet geïmplementeerd!^
4 ^De verbinding met de City Server herstellen.... (%s/10)^
5 ^De verbinding met Lot Server herstellen.... (%s/10)^
6 ^3D Mazen Gegenereerd.... (%s in wachtrijen)^