//mail

//nominaties die beginnen [evenement] (nhood name, einddatum, toekenningsbedrag, einddatum)
1 ^Nomineer uw burgemeester!^
2 ^De verkiezingscyclus voor %s is begonnen, en we zijn op zoek naar nominaties waarvoor de inwoner burgemeester zou moeten worden. Om een nominatie in te dienen, klikt u op de onderstaande knop. Je hebt tot %s! ^

//verkiezingen die beginnen [gebeurtenis] (nhood name, einddatum, toekenningsbedrag)
3 ^Stem op uw burgemeester!^
4 ^De kandidaten zijn geselecteerd en de eindstemming voor de burgemeester van de gemeente is begonnen. Om de kandidaten te bekijken en uw stem uit te brengen, klikt u op de onderstaande knop. U heeft tot %s de tijd om te stemmen.^

//Verkiezingen meer dan [naar de kiezers gestuurd] (winnaar, naam van de nhood, andere plaatsingen)
5 ^Uw nieuwe burgemeester!^
6 ^De stemmen zijn binnen - %s is nu de burgemeester van %s! Waarom niet vieren op uw gemeentehuis? Uw nieuwe burgemeester zou daar moeten intrekken. ^ //todo: lopers omhoog?

//player genomineerd [naar genomineerde speler gestuurd] (nhood name, deadline)
7 ^Loop doe mee in de verkiezingen! ^
8 ^Gefeliciteerd! U bent genomineerd door 3 of meer spelers om de burgemeester te worden van de buurt waarvan u een inwoner bent: %s. Als u wenst deel te nemen in de verkiezing, klik op de knop hieronder voor het einde van de nominaties op %s - wanneer de top genomineerde sims zullen deelnemmen aan de verkiezing. Zo niet, negeer dit bericht dan gewoon.^

//nominatie geaccepteerd [na aanvaarding van een nominatie] (nhood name, end date) (nhood name, end date)
9 ^Nominatie geaccepteerd^
10 ^Deze e-mail is alleen om te bevestigen dat u uw nominaties voor de burgemeester van %s heeft geaccepteerd. We zullen u laten weten of u de laatste verkiezing met %s hebt gehaald.^

//player lopende bevestiging [verzonden naar speler die zich kandidaat stelt voor verkiezing] (nhood naam, commentaar, einddatum)
11 ^Meedoen aan de verkiezing voor burgemeester^
12 ^Gefeliciteerd! U neemt nu deel aan de verkiezing voor burgemeester, %s, om dat u tot de top genomineerde sims behoorde! Uw campagne slogan was "%s", en u zult ontdekken of u won op %s.^

//player genomineerd maar niet genoeg [verzonden zodra de kandidaten zijn gekozen en de genomineerde speler niet bovenaan staat] (nhood name, einddatum)
13 ^Niet genoeg Nominaties! ^
14 ^Helaas bent u onvoldoende genomineerd om mee te doen aan de laatste verkiezing voor %s. U kunt nog steeds op alle kandidaten stemmen en meehelpen om te beslissen wie er burgemeester wordt op %s.^

//Verbod op het spelen in de buurt (reden, duur)
15 ^BUURTSSPEELVERBOD^
16 ^Deze e-mail is om u te informeren dat u bent verbannen uit de buurt voor misbruik. 
Reden: %s
Looptijd: %s
Voor meer informatie over de regels rond het buurtspel, zie http://freeso.org/nhoodrules.^

//burgemeester termijn eindwaarschuwing (nhood naam, einddatum)
17 ^Termijnlengte herinnering^
18 ^Goedemorgen, burgemeester! Dit bericht is alleen om u te informeren dat een andere verkiezingscyclus begint in %s, die zal eindigen op %s. Als u de burgemeester van deze buurt wilt blijven, moet u zich kandidaat stellen voor herverkiezing. U verliest de controle over het gemeentehuis als u niet herkozen wordt, dus zorg ervoor dat u alles, wat u wilt, gedaan hebt!^

//mayor term ended
19 ^Uit met het Oude^ (nieuwe burgemeester naam, nhood naam)
20 ^De mensen hebben gesproken, en je bent weg! %s is de nieuwe burgemeester van %s. Als u niet-gedoneerde voorwerpen op het gemeentehuis had, zijn deze teruggegeven aan uw inventaris. De witte lijst van de schenker is ook gereset.^

21 ^Niet langer Burgemeester^ (nhood naam)
22 ^U bent niet langer de burgemeester van %s. Als u niet-gedoneerde voorwerpen op het gemeentehuis had, zijn deze teruggegeven aan uw inventaris. De witte lijst van de schenker is ook gereset.^

23 ^Bedankt! ^ (avatar name, nhood name)
24 ^Uw nominatie voor %s om burgemeester te worden van %s is geteld. Vergeet niet dat deze stemming definitief is - u kunt ook niet opnieuw stemmen voor deze sim, een andere sim of zelfs een familielid hun account.^

25 ^Bedankt! ^ (avatar name, nhood name)
26 ^Uw stem voor %s om burgemeester te worden van %s is geteld. Vergeet niet dat deze stemming definitief is - u kunt ook niet opnieuw stemmen voor deze sim, een andere sim of zelfs een familielid.^

27 ^Gefeliciteerd! ^ (nhood name, telling van de stemmen - altijd meervoudig)
28 ^U bent de burgemeester van %s geworden!!! Met een maar liefst %s van de stemmen, kwam je boven alle andere kandidaten uit. Om uw nieuwe bevoegdheden in de buurt te bekijken, gaat u naar het tabblad Burgemeester op de pagina - u zult een aantal unieke controles zien in plaats van het gebruikelijke stemkastje, die te maken hebben met het Gemeentehuis. U zal ook zien dat u geprioriseerde berichten kan plaatsen op het Prikbord en dat uw naam als burgemeester zal verschijnen op de Eigenschappen van uw buurt. Ga er maar mee pronken of zoiets.

Tot volgende maand, veel plezier!^

29 ^Verkiezing Geannuleerd^ (nhood name)
30 ^Het spijt ons u te moeten meedelen dat uw buurt, %s, te ver is gedaald in de ranglijst om in aanmerking te komen voor verkiezingen. Dit betekent echter dat er in andere wijken heel nieuwe mogelijkheden zijn ontstaan.... alleen, uh, niet voor jou. De huidige burgemeester zal aan het eind van deze maand worden verwijderd, maar het gemeentehuis moet nog steeds open blijven (maar -is niet bewerkbaar-). Misschien wilt u een afscheidsfeestje voor uw burgemeester. En zorg ervoor dat het pand nog steeds bruikbaar is met alleen de geschonken objecten!^

31 ^Uw, uh, nieuwe burgemeester...^ (nhood name)
32 ^Blijkbaar is dus elke belangrijke persoon in %s van de ene dag op de andere verdwenen, waardoor er absoluut niemand meer overbleef om burgemeester te worden. Slechts één persoon kwam naar het stembureau, een lama. Ja, we weten dat dat als persoon niet telt - maar we waren wanhopig, dus we lieten het maar doen. Het is nu de burgemeester, en zijn enige verordening is om elk uur gevoed te worden. Vreemd genoeg is dit duidelijk het beste leven voor iedereen. Bedankt.^

//player nominated but not accepted [sent once candidates are chosen] (nhood name, end date)
33 ^Nominatie niet geaccepteerd! ^
34 ^Je bent meerdere keren genomineerd, maar je hebt niet geaccepteerd om je kandidaat te stellen voor de burgemeester van %s. Je kunt nog steeds op alle kandidaten stemmen en meehelpen om te beslissen wie burgemeester wordt in %s. ^

//free-vote info
35 ^Vrije Stemmingsregistratie^ (nhood name)
36 ^Helaas was uw buurt %s niet populair genoeg om zelf verkiezingen te houden.... Dit betekent echter dat uw buurt volledig neutraal is, wat betekent dat u recht heeft op een Vrije Stem! 

Een Vrije Stemming stelt u in staat om te stemmen op de burgemeester in één verkiezing, in elke in aanmerking komende buurt. Dit kan een verkiezing zijn in een wijk die u vaak bezoekt, of voor een specifieke persoon die u een gemeentehuis wilt zien controleren voor evenementen en bijeenkomsten! Uw stem zal niet zo veel tellen als iemand die in die buurt woont, maar het kan nog steeds genoeg zijn om de weegschaal in het voordeel van een kandidaat te laten kantelen, of om ze op het stembiljet te krijgen. Is democratie niet spannend? 

Klik op de knop hieronder om een buurt te kiezen waar je vrije kunt stemmen. Zodra je je hebt ingeschreven voor de verkiezing van een wijk, ontvang je de nominatie en de verkiezingen voor die wijk. Merk op dat je je verkiezingsbuurt niet kunt veranderen tot de volgende stemcyclus!^

37 ^Vrije Stem bevestiging^ (nhood name)
38 ^Bedankt voor uw inschrijving voor de vrije stemming! De democratie zou u een stevige handdruk bieden, als die er in enige fysieke vorm zou zijn.

Nominaties en Stemmen die u in deze verkiezing cyclus zal uitbrengen, tellen voor de wijken %s. Kies uw kandidaten verstandig!^

/*//mail

//nominations starting [event] (nhood name, end date, award sum)
1 ^Nominate your Mayor!^
2 ^The election cycle for %s has started, and we're looking for nominations for which resident should become Mayor. To submit a nomination, click the button below. You have until %s!^

//elections starting [event] (nhood name, end date, award sum)
3 ^Vote for your Mayor!^
4 ^The candidates have been selected, and final voting for the Mayor of %s has started. To view the candidates and cast your vote, click the button below. You have until %s!^

//elections over [sent to voters] (winner, nhood name, other placements)
5 ^Your new Mayor!^
6 ^The votes are in - %s is now the mayor of %s! Why not celebrate at your town hall? Your new mayor should be getting set up there. ^ //todo: runners up?

//player nominated [sent to nominated player] (nhood name, deadline)
7 ^Run for Election!^
8 ^Congratulations! You have been nominated by 3 or more players to become the Mayor of the neighborhood you are a resident of: %s. If you wish to run in the election, click the button below before the end of nominations on %s - when the top nominated sims will run for election. If not, simply ignore this message.^

//nomination accepted [after accepting a nomination] (nhood name, end date)
9 ^Nomination Accepted^
10 ^This email is just to confirm that you have accepted your nominations to run for Mayor of %s. We'll let you know if you made it into the final election on %s.^

//player running confirmation [sent to player running for election] (nhood name, comment, end date)
11 ^Running for Mayor^
12 ^Congratulations! You are now running for Mayor in your neighborhood, %s, as you were among the top nominated sims! Your campaign comment was "%s", and you'll find out if you won on %s.^

//player nominated but not enough [sent once candidates are chosen, and nominated player is not in top] (nhood name, end date)
13 ^Not enough Nominations!^
14 ^Unfortunately, you were not nominated enough times to run in the final election for %s. You can still vote for any of the candidates, and help decide who will become Mayor on %s.^

//neighborhood gameplay ban (reason, duration)
15 ^NEIGHBORHOOD GAMEPLAY BAN^
16 ^This email is to inform you that you have been banned from neighborhood gameplay for abuse. 
Reason: %s
Duration: %s
For more information on the rules surrounding neighborhood gameplay, see http://freeso.org/nhoodrules.^

//mayor term ending warning (nhood name, end date)
17 ^Term Length Reminder^
18 ^Good morning, mayor! This message is just to inform you that another election cycle is starting in %s, that will end on %s. If you wish to continue being the mayor of this neighborhood, you should run for re-election. You'll lose control of the Town Hall if you don't get re-elected, so make sure you've done everything you want to!^

//mayor term ended
19 ^Out with the Old^ (new mayor name, nhood name)
20 ^The people have spoken, and you're out! %s is the new mayor of %s. If you had any non-donated objects on the town hall, they have been returned to your inventory. The donator whitelist has also been reset.^

21 ^No Longer Mayor^ (nhood name)
22 ^You are no longer the mayor of %s. If you had any non-donated objects on the town hall, they have been returned to your inventory. The donator whitelist has also been reset.^

23 ^Thank You!^ (avatar name, nhood name)
24 ^Your nomination for %s to become mayor of %s has been counted. Remember that this vote is final - you also cannot vote again on this sim, another sim or even a relative's account.^

25 ^Thank You!^(avatar name, nhood name)
26 ^Your vote for %s to become mayor of %s has been counted. Remember that this vote is final - you also cannot vote again on this sim, another sim or even a relative's account.^

27 ^Congratulations!^ (nhood name, vote count - always plural)
28 ^You have become the mayor of %s!! With a whopping %s votes, you came out on top of all the other candidates. To check out your new powers in the neighborhood go to the Mayor tab on its page - you will see some unique controls in place of the usual voting panel, mostly to do with the Town Hall. You'll also find you can make prioritised posts on the Bulletin Board, and will show up as mayor on properties within your neighborhood. Go and show off or something.

Until next month, have fun!^

29 ^Election Cancelled^ (nhood name)
30 ^We regret to inform you that your neighborhood, %s, has fallen too far in the rankings to be eligible for elections. However, this means that whole new opportunities have arisen in other neighborhoods... just, uh, not for you. The current Mayor will be removed at the end of this month, but its Town Hall should still remain openable (but -uneditable-). You may wish to have a farewell party for your mayor, and make sure the property is still usable with only the donated objects left!^

31 ^Your, uh, new Mayor^ (nhood name)
32 ^So apparently, every important person in %s has disappeared overnight, leaving absolutely nobody to become Mayor. Only one person showed up to the polling station, a llama. Yes, we know that doesn't count as a person - but we were desperate so let it run anyways. It's now the mayor, and its only ordinance is to be fed hourly. Strangely, this is clearly the best life for everyone. Thanks.^

//player nominated but not accepted [sent once candidates are chosen] (nhood name, end date)
33 ^Nomination not Accepted!^
34 ^You were nominated multiple times, but did not accept to run for mayor of %s in time. You can still vote for any of the candidates, and help decide who will become Mayor on %s. ^

//free-vote info
35 ^Free Vote Enrollment^ (nhood name)
36 ^Unfortunately, your neighborhood %s was not popular enough to have elections of its own... However, this means that your neighborhood is entirely neutral, meaning you are entitled to a Free Vote!

A Free Vote allows you to vote for the mayor in one election, from any eligible neighborhood. This could be an election in a neighborhood that you visit often, or for a specific person you want to control a town hall for events and gatherings! Your vote won't count as much as someone who lives in that neighborhood, but it could still be enough to tip the scales in a candidate's favor, or get them on the ballot at all. Isn't democracy exciting?

Click the button below to choose a neighborhood to free-vote in. Once you are signed up to a neighborhood's election, you will receive nomination and election ballots for that neighborhood. Note that you cannot change your election neighborhood until the next voting cycle!^

37 ^Free Vote Confirmation^ (nhood name)
38 ^Thank you for signing up for the Free Vote! Democracy would offer you a firm handshake, if it existed in any physical form.

Nominations and Votes you cast in this election cycle will be for the neighborhood %s. Choose your candidates wisely!^
*/